<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>maruberu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://maruberu.ama.ne.jp/">
  <style>
  form div.params {
    margin: 1em 0;
    padding: 0 1em;
    border: dotted 1px;
  }
  form div.params div {
    margin: 1em 0;
  }
  </style>
</head>
<body>
  <h1>maruberu</h1>
  既にtokenをお持ちですか？　こちらから今すぐベルを鳴らしましょう！
  <form method="get">
    <div class="params">
      <div><label>token : <input type="text" name="token"></label></div>
    </div>
    <input type="submit" value="開く">
  </form>
</body>
</html>
