{% extends "base.html" %}
{% block title %}Ring Bell Now{% end %}
{% block header %}今すぐベルを鳴らす{% end %}
{% block style %}
div.container input.first-input {
  margin-top: calc(25vmin - 1em);
}
{% end %}
{% block content %}
  <form>
    {% module xsrf_form_html() %}
    <input type="text" class="first-input" name="token" value="{% if token %}{{ token }}{% end if %}" autocomplete="off" placeholder="トークンを入力してください">
    <div>
      <input formmethod="get" type="submit" value="探す">
      <input formmethod="post" formaction="/resource/{{ token }}/" type="submit" value="鳴らす{% if resource %} ({{ resource.milliseconds }}ms){% end if %}"{% if not resource or not resource.is_unused() %} disabled{% end if %}>
      <input formmethod="post" formaction="/resource/{{ token }}/?action=delete" type="submit" value="捨てる"{% if not resource or not resource.is_unused() %} disabled{% end if %}>
    </div>
  </form>
  <ul class="description">
  {% if resource and resource.is_unused() %}
    {% if resource.not_before and resource.is_before_period() %}<li><span class="not-before-value">{{ resource.not_before }}</span> から</li>{% end if %}
    {% if resource.not_after and resource.is_within_period() %}<li><span class="not-after-value">{{ resource.not_after }}</span> まで</li>{% end if %}
    {% if not resource.not_before and not resource.not_after %}<li><span class="whenever-value">いつでも</span></li>{% end if %}
    <li><span class="sticky-value">{% if resource.sticky %}何度でも{% else %}1回だけ{% end if %}</span></li>
  {% elif resource and resource.is_using() %}
    <li>このリソースは使用中です。</li>
  {% elif resource and resource.is_used() %}
    <li>このリソースは使用済です。</li>
  {% elif token %}
    <li>無効なトークンです。</li>
  {% end if %}
  </ul>
{% end %}
