<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>maruberu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://maruberu.ama.ne.jp/">
</head>
<body>
  <h1>Ring</h1>
  <form action="/resource/{{ token }}/" method="post">
    {% module xsrf_form_html() %}
    <input type="submit" value="Ring">
  </form>
  <form action="/resource/{{ token }}/" method="post">
    {% module xsrf_form_html() %}
    <input type="hidden" name="action" value="delete">
    <input type="submit" value="Delete">
  </form>
</body>
</html>
