{% extends "base.html" %}
{% block title %}Login{% end %}
{% block header %}管理者としてログインする{% end %}
{% block style %}
div.container input.first-input {
  margin-top: calc(25vmin - 2em);
}
{% end %}
{% block content %}
  <form action="/admin/login/" method="post">
    {% module xsrf_form_html() %}
    <div><input type="text" class="first-input" name="username" placeholder="IDを入力してください"></div>
    <div><input type="password" name="password" placeholder="パスワードを入力してください"></div>
    <div><input type="submit" value="ログイン"></div>
  </form>
  <ul class="description">
    {% if failed %}<li>IDまたはパスワードが一致しません。</li>{% end if %}
  </ul>
{% end %}
