<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>maruberu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="canonical" href="https://maruberu.ama.ne.jp/admin/login/">
</head>
<body>
  <h1>Login</h1>
  <form action="/admin/login/" method="post">
    <label>username : <input type="text" name="username"></label>
    <label>password : <input type="password" name="password"></label>
    <input type="submit" value="Login">
  </form>
</body>
</html>
